body{
    
    display: flex;
    background: linear-gradient(to right, rgb(33, 54, 75), rgb(64, 102, 146));
    align-items: center;
}

input{
    
    border: 0;
    background: linear-gradient(to right, rgb(67, 93, 119), rgb(64, 102, 146));
}

textarea{
    border: 0;
    background: linear-gradient(to right, rgb(67, 93, 119), rgb(64, 102, 146));
}

form{
    margin: 0 auto;
    border-radius: 15px;
    align-items: center;
    padding: 15px;
    padding-bottom: 50px;
    background-color: rgb(162, 168, 173);
}

button{
    
    border: 0;
    background: linear-gradient(to right, rgb(33, 54, 75), rgb(64, 102, 146));
    border-radius: 15px;
    
}
